<div name="body">
  <h2 name="listTitle">
    Meals
  </h2>
  <ul name="mList">
    {{#each meals}}
      <li>
        <div class="result">
          <a href="http://localhost:3000/meal?ID={{{ID}}}">{{Name}}</a>
      </li>
    {{/each}}
  </ul>
  <h2 name="listTitle">
   Ingredients 
  </h2>
  <ul name="iList">
    {{#each ingredients}}
      <li>
        <div class="result">
          <a href="http://localhost:3000/ingredient?ID={{{ID}}}">{{Name}}</a>
          <p>{{Issues}}</p>
      </li>
    {{/each}}
  </ul>
</div>
