<main class="ingredient-body">
  <div class="header">{{Name}}</div>
  <div class="subheader">Read about the issues and select alternatives</div>

  <div class = "ingredient-list-container">
    <div class = "ingredient-container shadow">
      <div><b>{{Name}}</b></div>
      <div>{{Rating}}</div>
      <div>{{Issues}}</div>

      <button type = "button" class = "subsitutes-button shadow">Show Alternatives</button>
      <div class= "subsitutes-container">
        <div class = "id">{{ID}}</div>
        {{#each Subsitutes}}
        <button class = "subs-button shadow">
          <div class = "id">{{this.ID}}</div>
          <div>{{this.name}} - {{this.rating}}</div>
        </button>
        {{/each}}
      </div>
    </div>
  </div>


    {{!-- <div class = "back-container">
      <button type = "button" class = "back-button">Back</button>
    </div> --}}


</main>

<script type = "text/javascript" src="http://localhost:3000/ingredients.js"></script>
