<main>
  <div class="header">Ingredients</div>
  <div class="subheader">Read about the issues and select alternatives</div>

  <div class = "ingredient-list-container">
    {{#each INGREDIENTS}}
    <div class = "ingredient-container">
      <div><b>{{Name}}</b></div>
      <div>{{Rating}}</div>
      <div>{{Issues}}</div>

      <button type = "button" class = "subsitutes-button">Show Alternatives</button>
      <div class= "subsitutes-container">
        <div class = "id">{{ID}}</div>
        {{#each Subsitutes}}
        <button class ="subs-button">
          <div class = "id">{{this.ID}}</div>
          {{this.name}} / {{this.rating}}
        </button>
        {{/each}}
      </div>

    </div>
    {{/each}}
  </div>


    <div class = "back-container">
      <button type = "button" class = "back-button">Back</button>
    </div>
    <div class = "swap-container">
      <button type = "button" class = "swap-button">Make Swaps!</button>
    </div>

</main>

<script type = "text/javascript" src="http://localhost:3000/ingredients.js"></script>
