<div name="body">
  <h1 name="mealName">{{meal.Name}}</h1>
  <h2 name="mealRating">Ethical Rating: {{meal.er}}</h2>
  <table name="ingredientTable">
    <thead>
      <tr>
      <th>Ingredients</th>
      <th>Ethical Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#each ingredient}}
        <tr>
          <td name="ingName">{{Name}}</td>
          <td>{{Rating}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>Customize this meal to make it more responsible and save it to your meal book!</p>
  <input type="button" class="edit" onclick="location.href='http://localhost:3000/buildEdit/:id={{meal.id}}';" value="Edit & Save" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
