<link rel= "stylesheet" href = "/savedPage.css">
<script>    
        //const myUser = {
        //Username: 'username',
        //Password: 'password',      
    //};
    //localStorage.setItem('user', JSON.stringify(myUser));
</script>

<script>
//window.addEventListener('load', (event) =>
  //  let id = JSON.parse(localStorage.getItem('user'));
    //id = Number(id.ID);
    //var idHolder = document.createElement("p");
    //idHolder.style.display = "none";
    //idHolder.setAttribute(value=id);
    //idHolder.setAttribute(id="idHolder");
    //idHolder.setAttribute(runat="server");
//)
</script>

<ul class = "recipeList" id="recipeList">
    <lh id = "savedHeader">
        Saved Recipes
    </lh>
    {{#each savedMealsInfo}}
    <li>
        {{!-- <a href="/saved/?ID={{this.ID}}"> --}}
        {{!-- <a href="/saved/?ID={{this.ID}}&userID={{@root.curUserInfo.ID}}"> --}}
            <button class = "recipeButton" value = {{this.ID}}>{{this.Name}}</button>
        {{!-- </a> --}}
    </li>
    {{/each}}
</ul>

<div class = "recipeInfo">
    <h1 class = "recipeTitle">
        <span class = "recipeName">{{curMealInfo.Name}}</span>
    {{#if curMealInfo.Error}}
        </h1>
        <span>{{curMealInfo.Error}}</span>
        <br>
        {{#each curMealInfo.ErrorButtons}}
            <button class = "nonRecipeButton">
                <a href="{{this.Redirect}}">{{this.Name}}</a>
            </button>
        {{/each}}
    {{else}}
        <span class = "ratingContainer">
        Ethical Rating: 
        <span class = "ratingNum">{{curMealInfo.Rating}}</span>     
        </span>   
        </h1>

        <table class = "ingredientTable">
        <tr class = "tableHeaderRow">
            <th>
                Ingredients
            </th>
            <th>
                Ethical Rating
            </th>
        </tr>

        {{!-- referenced from the mealPage --}}
        {{#each curIngredients}}
            <tr class = "ingredientInfo">
                <td class = "ingredientName">
                    <a class="tblLink" href="/ingredients/[{{ID}}]">{{Name}}</a>
                </td>
                <td class = "ingredientRating">
                    {{Rating}}
                </td>
            </tr>
        {{/each}}
        </table>

        {{#if curMeal}}
            <button class = "nonRecipeButton" id = "editButton">
                    <a href="/buildEdit/{{curMeal}}">Edit Recipe</a>
            </button>
        {{/if}}
    {{/if}}
    {{!-- <button class = "nonRecipeButton" id = "deleteButton">
        Delete from Recipe Book
    </button> --}}


</div>  

<script type = "text/javascript" src="http://localhost:3000/savedScript.js"></script>
