<div name="body">
  <h1>Search Results: {{search}}</h1>
  <div name="ingredients">
    <h2 class="sTitle">Ingredients</h2>
    <ul name="iList">
      {{#each ingredients}}
      <li>
        <div class="result">
          <a href="http://localhost:3000/ingredient?ID={{{ID}}}">{{Name}}</a>
          <p>{{Issues}}</p>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
  <div name="meals">
   <h2 class="sTitle">Meals</h2>
   <ul name="mList">
    {{#each meals}}
      <li>
        <div class="result">
          <a href="http://localhost:3000/meal?ID={{{ID}}}">{{Name}}</a>
          <p>Ethical Rating: {{Rating}}</p>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
